:root {
  --main-background-color: #ffffff;
  --border-color: #459df5;
  --border-color-incorrect: #f53152;
  --element-background-blocked: #bad8f5;
  --input-placeholder-color: #bad8f5;
}

._ {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}

.label {
  cursor: pointer;
}

.labelInside {
  position: absolute;
  background: var(--main-background-color);
  left: 6px;
  top: 32px;
  cursor: pointer;
  width: 1em;
  text-align: center;
}

.input {
  width: 100%;
  display: flex;
  background: var(--main-background-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 4px 4px 22px;
  height: 32px;
  order: 1;
  margin: 8px 0px;
}

.input_empty::placeholder {
  color: var(--input-placeholder-color);
}

.input:disabled {
  background: #bad8f5;
  color: black;
}

.input_incorrect {
  border: 1px solid var(--border-color-incorrect);
}

.input_disabled {
  background: var(--element-background-blocked);
}

.button_reset {
  border: none;
  position: absolute;
  vertical-align: middle;
  background-color: transparent;
  right: 0px;
}

.button_reset:focus {
  outline: none;
}

.button_reset_hide {
  display: none;
}

.button_reset:after {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: 6px;
  top: -30px;
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%23459DF5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
}

.button_lock {
  border: none;
  position: absolute;
  vertical-align: middle;
  background-color: transparent;
  right: 0px;
}

.button_lock:focus {
  outline: none;
}

.button_lock_hide {
  display: none;
}

.button_lock:after {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: 6px;
  top: -30px;
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23000000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M4 5C4 2.79086 5.79086 1 8 1C10.2091 1 12 2.79086 12 5V7C13.1046 7 14 7.89543 14 9V13C14 14.1046 13.1046 15 12 15H4C2.89543 15 2 14.1046 2 13V9C2 7.89543 2.89543 7 4 7V5ZM10 5V7H6V5C6 3.89543 6.89543 3 8 3C9.10457 3 10 3.89543 10 5Z' stroke='none' /%3E%3Cpath d='M12 5C12 2.8 10.2 1 8 1C5.8 1 4 2.8 4 5L4 9H6V5C6 3.75 7 3 8 3C9 3 10 3.75 10 5V9H12V5Z' stroke='none' /%3E%3C/svg%3E%0A");
}
