:root {
  --main-background-color: #ffffff;
  --border-color: #459df5;
  --border-color-incorrect: #f53152;
  --element-background-blocked: #bad8f5;
  --input-placeholder-color: #bad8f5;
}

._ {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}

.label {
  cursor: pointer;
}

.labelInside {
  position: absolute;
  left: 6px;
  top: 32px;
  cursor: pointer;
  width: 1em;
  text-align: center;
}

.input {
  width: 100%;
  display: flex;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 4px 4px 22px;
  height: 32px;
  order: 1;
  margin: 8px 0px;
}

.input_empty::placeholder {
  color: var(--input-placeholder-color);
}

.input_incorrect {
  border: 1px solid var(--border-color-incorrect);
}

.input_disabled {
  background: var(--element-background-blocked);
}

.button_reset {
  border: none;
  position: absolute;
  vertical-align: middle;
  background-color: transparent;
  right: 0px;
}

.button_reset:focus {
  outline: none;
}

.button_reset_hide {
  display: none;
}

.button_reset:after {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: 6px;
  top: -30px;
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%23459DF5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
}