._ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.label {
  display: flex;
  height: 1.2em;
}

.buttonApply {
  display: flex;
  border: none;
  color: #459df5;
  background: inherit;
  cursor: pointer;
  outline: none;
}
