:root {
    --main-background-color:#FFFFFF;
    --border-color: #459DF5;
    --border-color-incorrect: #F53152;
    --element-background-blocked: #BAD8F5;
    --input-placeholder-color: #BAD8F5;
}

.input {
    position: relative;
	flex-direction: row;
    align-items: center;
    background: var(--main-background-color);
    width: 256px;
}
.input__box {
	width: 80%;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px 4px 4px 8px;
    height: 32px;
    order: 1;
    margin: 8px 0px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px; 
}
.input__reset-icon {
    position: relative;
    display: inline-block;
	border: none;
	vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
}
.input__reset-icon:after {
	display: block;
	position: absolute;
	cursor: pointer;
    left: -28px;
    top: -7px;
    width: 16px;
    height: 16px;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%238055FF' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
}
.input__reset-icon:focus {
    outline: none;
}
.input__box:not(:valid) ~ .input__reset-icon {
	display: none;
}
.input__box_empty::placeholder {
    color: var(--input-placeholder-color);
}

.input__box_incorrect {
    border: 1px solid var(--border-color-incorrect);
}

.input__box_disabled {
    background: var(--element-background-blocked);
}