:root {
    --main-background-color:#FFFFFF;
    --border-color: #459DF5;
    --border-color-incorrect: #F53152;
    --element-background-blocked: #BAD8F5;
    --input-placeholder-color: #BAD8F5;
    --button-search-position-left: 24px;
    --button-position-top: -7px;
    --button-reset-position-left: -28px;
}

.searchbar-group {
    position: relative;
	flex-direction: row;
    align-items: center;
    background: var(--main-background-color);
    width: 256px;
}
.searchbar-group__searchbar {
	width: 80%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 4px 4px 30px;
    height: 32px;
    margin: 8px 0px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px; 
}
.searchbar-group__button {
    position: relative;
    display: inline-block;
	border: none;
    left: 0;
    top: 0;
	vertical-align: middle;
    cursor: unset;
    background-color: transparent;
}
.searchbar-group__button:focus {
    outline: none;
}
.searchbar-group__button-search::before {
	display: block;
	position: absolute;
	cursor: pointer;
    left: var(--button-search-position-left);
    top: var(--button-position-top);
    width: 16px;
    height: 16px;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%238055FF' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.0355 10.0355C11.9882 8.08291 11.9882 4.91709 10.0355 2.96447C8.08291 1.01184 4.91709 1.01184 2.96447 2.96447C1.01184 4.91709 1.01184 8.08291 2.96447 10.0355C4.91709 11.9882 8.08291 11.9882 10.0355 10.0355ZM10.0355 10.0355L14 14M14 14L14.5 13.5L11.5 10.5M14 14L13.5 14.5L10.5 11.5' fill='none'/%3e%3c/svg%3e");
}
.searchbar-group__button_reset:after {
	display: block;
	position: absolute;
	cursor: pointer;
    left: var(--button-reset-position-left);
    top: var(--button-position-top);
    width: 16px;
    height: 16px;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%238055FF' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
}
.searchbar-group__searchbar:not(:valid) ~ .searchbar-group__button_reset {
	display: none;
}
.searchbar-group__searchbar_empty::placeholder {
    color: var(--input-placeholder-color);
}