._ {
  display: flex;
  justify-content: left;
  margin: 2em 3em;
  background: #ebf0f5;
  height: 7em;
}

._Hide {
  display: none;
  justify-content: left;
  margin: 2em 3em;
  background: #ebf0f5;
  height: 7em;
}
