._ {
  height: 32px;
  width: 32px;
  margin-left: auto;
  background-color: #459DF5;
  border: none;
  box-sizing: border-box;
  padding: 9px 9px;
  background-clip: content-box;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' stroke='%23FFFFFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15L15 1M1 1L15 15' fill='none' /%3E%3C/svg%3E");
}