._ {
    display: flex;
    flex-wrap: nowrap;
    height: 32px;
    width: 100%;
}

.checkboxLabel {
    display: flex;
    align-items: center;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkBox {
        --active: #fff;
        --active-inner: #BAD8F5;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BAD8F5;
        --border-hover: #BAD8F5;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 16px;
        width: 16px;
        margin-right: 8px;
        outline: none;
        position: relative;
        cursor: pointer;
        border: 1px solid var(--borderColor, var(--border));
        border-radius: 2px;
        background: var(--backgroundState, var(--background));
    }
    .checkBox:after {
        position: absolute;
        opacity: var(--opacity, 0);
        width: 16px;
        height: 16px;
        left: -1px;
        top: -1px;
        box-sizing: border-box;
        border: 1px solid var(--active-inner);
        border-radius: 2px;
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%238055FF' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L4.5 6L3 7L7 14L14.5 3.5V3L13 2L7 10Z' stroke='none'/%3E%3C/svg%3E");
    }
    .checkBox:checked {
        --backgroundState: var(--active);
        --borderColor: var(--active);
        --opacity: 1;
    }
    .checkBox:disabled {
        --backgroundState: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    .checkBox:disabled:checked {
        --backgroundState: var(--disabled-inner);
        --borderColor: var(--border);
    }
    .checkBox:hover:not(:checked):not(:disabled) {
        --borderColor: var(--border-hover);
    }
}
