._ {
  display: flex;
  width: 100%;
  margin-top: 2em;
}

.table {
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table th:first-child,
td:first-child {
  width: 16px;
  padding: 8px 0px 8px 12px;
}