._ {
    display: flex;
    margin: 2em 3em;
}

.table {
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.th {
    font-weight: normal;
    color: white;
    border-bottom: 2px solid #6678b1;
    padding: 8px 12px;
    background: #459DF5;
    cursor: pointer;
    user-select: none;
}

table th:first-child, td:first-child {
    width: 16px;
    padding: 8px 0px 8px 12px;  
}

.td {
    border-bottom: 1px solid #EBF0F5;
    padding: 9px 8px;
    transition: .3s linear;
    cursor: unset;
}

.tr:hover td {
    color: #6699ff;
}

.thead {
    background: #EBF0F5;
    padding: 8px 12px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #459DF5;
}

.labelCount {
    display: flex;
}